<%= form_for(@workout) do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>

    <div>
        <%= f.label :time %>
        <%= f.number_field :time, min: 1, max: 120 %>
    </div>

    <div>
        <%= f.label :difficulty %>
        <%= f.number_field :difficulty, min: 1, max: 5 %>
    </div>

 <div>
   <%= f.label :category, "Category" %>:
  <%= f.text_field :category_id, list: 'category_attributes'  %>
    <datalist id="category_attributes">
    <% Category.all.each do |c| %>
      <option value="<%= c.name %>"></option>
    <% end %>
</datalist>
  </div>

    <div>
    <label for="Existing Category">Select an Existing Category:</label>
    <%= f.collection_select :category, Category.all, :id, :name, include_blank: 'Select One' %>
  </div>

    <p>OR Add a New Category:</p>
    <div>
        <%= f.fields_for :category do |m| %>
            <%= m.label :name %>
            <%= m.text_field :name %>
        <br>
        <% end %>
    </div>
        <%= f. submit %>
<% end %>