<%= form_for(@workout) do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>

    <div>
        <%= f.label :time %>
        <%= f.number_field :time %>
    </div>

    <div>
        <%= f.label :difficulty %>
        <%= f.number_field :difficulty %>
    </div>
    
    
    <p>Select an Existing Move</p>
    <div>
        <%= f.label :moves %>
        <%= f.collection_select :move_id, Move.all, :id, :name %>
    </div>

    <p>Add a New Move</p>
    <div>
        <%= f.fields_for :moves do |m| %>
        <%= m.label :move %>
        <%= m.text_field :name %><br>
        <%= m.label :reps %>
        <%= m.number_field :rep.quantity %>
        <br>
        <% end %>
    </div>
        <%= f. submit %>
<% end %>