<%= form_for(@workout) do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>

    <div>
        <%= f.label :time %>
        <%= f.number_field :time %>
    </div>

    <div>
        <%= f.label :difficulty %>
        <%= f.number_field :difficulty %>
    </div>

    <div>
    <label for="Existing Move">Select a Move:</label>
    <%= f.fields_for :moves, Move.all do |m| %>
    <%= m.text_field :name %>
  <% end %>
  </div>

    <p>Add a New Move</p>
    <div>
        <%= f.fields_for :moves do |m| %>
            <%= m.label :name %>
            <%= m.text_field :name %>
        <br>
        <% end %>
    </div>
        <%= f. submit %>
<% end %>