<%= form_for(@workout) do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>

    <div>
        <%= f.label :time %>
        <%= f.number_field :time %>
    </div>

    <div>
        <%= f.label :difficulty %>
        <%= f.number_field :difficulty %>
    </div>

    <div>
    <label for="Existing Move">Select a Move:</label>
    <%= f.collection_select :move_id, Move.all, :id, :name, prompt: true%>
  </div>

    <p>Add a New Move</p>
    <div>
        <%= f.fields_for :moves do |m| %>
            <%= m.label :move %>
            <%= m.text_field :name %><br>
        <%= m.fields_for :reps do |r| %>
            <%= m.label :reps %>
            <%= r.number_field :quantity %>
        <% end %>
        <br>
        <% end %>
    </div>
        <%= f. submit %>
<% end %>