<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">

            <h1>Show Workout Page</h1>
            <%= @workout.each do |w| %><br>
            <%= w.title %><br>
            <%= w.description %><br>
            <%= w.time %><br>
            <%= w.difficulty %><br>
            <%= w.category.name %><br>
            <% end %>



                </div>
            
        </div>
    </div> 
</section>

<%= render 'style' %>