<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">

                            <h1>Show Workout Page</h1>
                            <div class="blk_center row card-deck border-info text-white mb-3">
                            <h3><%= image_tag (@workout.user.image), :size => "70x60" %><%= @workout.user.username %></h3>

                            <h3>Title of workout - <%= @workout.title %></h3>
                            <p>Description of workout -  <%= @workout.description %> </p>
                            <p>Time of Workout -  <%= @workout.time %> Minutes</p>
                            <h3>Difficulty - <%= @workout.difficulty %>  </h3>
                            </div>
                            <br>
                            <div class="blk_center row card-deck border-primary mb-3 text-warning">
                            <% @comments.all.each do |c| %>
                                <%= image_tag (c.user.image), :size => "70x60" %>
                                <h5 class="text-info"><%= c.user.username.capitalize %> posted</h5>
                                <h5>Title - <%= c.title %></h5>
                                <h5> Created-at <%= c.created_at %></h5>
                                <hr>
                                <% end %> 
                                <%= link_to  "View Comments", workout_comments_path(@workout) %>
                            </div>



                </div>
            
        </div>
    </div> 
</section>

<%= render 'style' %>