<h1>Show Workout Page</h1>

<div>
<p>Name</p> 
<%= @workout.name %>
</div>
<div>
<p>Category</p> 
<%= @workout.category %>
</div>
<div>
<p>Sets</p> 
<%= @workout.sets %>
</div>
<div>
<p>Reps</p> 
<%= @workout.reps %>
</div>
<div>
<p>Difficulty</p> 
<%= @workout.difficulty %>
</div>
