<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <%= image_tag("Main_logo.png", size: "300x50") %> 
                    <div class="px-2">


                            <% @users.each do |u| %>
                            <div class="blk_center row card-deck border-info mb-3">
                            <h3><%= image_tag (u.image), :size => "100x80" unless u.image.attachment == nil%> User - <%= u.username %></h3>
                            <h5>Created on - <%= u.created_at %><h5>
                            </div>
                            
                            <% end %>



                </div>
            </div>
        </div>
    </div>
</section>

<%= render 'workouts/style' %>