<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <%= image_tag("Main_logo.png", size: "300x50") %> 
                    <div class="px-2">

                        <h1>Welcome <div class="text-success"><%= @user.username %></div></h1>
                        
                        <%= image_tag (@user.image), size: "100" %>
                        

                            <h1>Your workouts</h1>
                            
                            <%= render 'workouts' %>

                </div>
            </div>
        </div>
    </div>
</section>

<%= render 'workouts/style' %>