<h1>Creat a new post for user workout</h1>

<%= form_for( @post) do |f| %>
 <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :content %>
        <%= f.text_area :content %>
    </div>
    <%= f.hidden_field :workout_id %>

    <%= f.submit %>

<% end %>