<!DOCTYPE html>
<html>
  <head>
    <title>SocialFitness</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.5.1.slim.min.js" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"  %>
    <%= javascript_include_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" %>
    

  </head>

  <body>
  <%
=begin%>
 <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#" aria-label="Product">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
    </a>
    <a class="py-2 d-none d-md-inline-block" href="#">Home</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Create Post</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Edit Post</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Delete Post</a>
    <a class="py-2 d-none d-md-inline-block" href="#">View Your Workouts</a>
    <a class="py-2 d-none d-md-inline-block" href="#">View All Posts</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Delete Account</a>
  </div> 
<%
=end%>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Social Fitness</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">New Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">View Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Edit Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Delete Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Delete Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>







<div>
    <%= yield %>
  </div>





  </body>
</html>
